<div class="col" *ngIf="deviceData | async as deviceData; else loading">
	<!-- Graphs -->
	<div class="row">
		<canvas baseChart
			height="350px"
			[chartType]="chartType"
			[options]="temperatureOptions"
			[datasets]="temperatureData"
			[colors]="temperatureColors">
		</canvas>
	</div>
	<div class="row">
		<canvas baseChart
			height="350px"
			[chartType]="chartType"
			[options]="humidityOptions"
			[datasets]="humidityData"
			[colors]="humidityColors">
		</canvas>
	</div>
	<div class="row controls">
		<!-- Controls -->
		<span class="hint">View: </span>
		<button class="btn btn-light" 
		[routerLink]="['/device', device]" 
		[queryParams]="{ mode: 'standard' }"
		queryParamsHandling="merge">
			Standard
		</button>
		<button class="btn btn-light" 
		[routerLink]="['/device', device]" 
		[queryParams]="{ mode: '1stdiff' }"
		queryParamsHandling="merge">
			1st diff
		</button>
		<button class="btn btn-light" 
		[routerLink]="['/device', device]" 
		[queryParams]="{ mode: '2nddiff' }"
		queryParamsHandling="merge">
			2nd diff
		</button>
	</div>
	<div class="row controls">
		<!-- Controls -->
		<span class="hint">Time: </span>
		<button class="btn btn-light" 
		[routerLink]="['/device', device]" 
		[queryParams]="{ scale: scale.value }"
		*ngFor="let scale of scales"
		queryParamsHandling="merge">
			Last {{ scale.text }}
		</button>
	</div>
</div>
<ng-template #loading>
	<app-loading></app-loading>
</ng-template>