<div class="container" *ngIf="deviceData | async as deviceData; else loading">
  <canvas baseChart
          [datasets]="temperatureData"
          [options]="temperatureOptions"
          [chartType]="chartType"
          [colors]="temperatureColors">
  </canvas>
  <canvas baseChart
          [datasets]="humidityData"
          [options]="humidityOptions"
          [chartType]="chartType"
          [colors]="humidityColors">
  </canvas>
</div>
<ng-template #loading>Loading device data...</ng-template>