<div class="row">
  <div class="col-3" *ngIf="devices | async as devices; else loading">
    <ng-container *ngIf="devices.length; else noDevices">
      <li *ngFor="let device of devices">
        <a [routerLink]="['/device', device.key]" routerLinkActive="active">{{ device.key }}</a>
      </li>
    </ng-container>
    <ng-template #noDevices>No devices yet!</ng-template>
  </div>

  <ng-template #loading><app-loading></app-loading></ng-template>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>