<div class="row">
  <div class="col-4" *ngIf="devices | async as devices; else loading">
    <ng-container *ngIf="devices.length; else noDevices">
      <div class="device" *ngFor="let device of devices" [routerLink]="['/device', device.key]"  routerLinkActive="active">
        <h2>{{ device.key }}</h2>
        <section>
          Last seen: 
          {{ device.payload.val().latest.time * 1000 | timeAgo }}
        </section>
        <section>
          {{ device.payload.val().latest.data.temperature.toFixed(2) }}&deg;C /
          {{ device.payload.val().latest.data.humidity.toFixed(2) }}%
        </section>
      </div>
    </ng-container>
    <ng-template #noDevices>No devices yet!</ng-template>
  </div>

  <ng-template #loading><app-loading></app-loading></ng-template>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>