.device 
    margin-bottom: 1em
    padding: 2em

    &:hover
        background-color: #eeeeee

    a 
        color: #000000
        text-decoration: none
        
.active
    background-color: #dddddd
